<div class="container">

  <div class="row">

    <div id="rd" class="bg-dark text-white p-2 mb-2 text-center col-12 col-sm-8 offset-sm-2 col-md-8 offset-md-2 col-lg-6  offset-lg-3 col-xl-4 offset-xl-4" >

      <h4>Login</h4>
    </div>

    <form ngNativeValidate [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="col-12 col-sm-8 offset-sm-2 col-md-8 offset-md-2 col-lg-6  offset-lg-3 col-xl-4 offset-xl-4">


      <div class="form-group" >
        <label >Email</label>
        <input type = "email" formControlName="email" required="" class="form-control" placeholder="Enter Email" [ngClass]="{'is-invalid' : formErrors.email}" (blur)="logValidationErros()">

        <span class=" text-danger form-control-feedback" *ngIf="formErrors.email">
                      {{formErrors.email}}
        </span>

      </div>


      <div class="form-group">
        <label >Password</label>
        <input type = "password" formControlName="password" required="" class="form-control"  placeholder="Enter Password" [ngClass]="{'is-invalid' : formErrors.password}"
               (blur)="logValidationErros()">

        <span class=" text-danger form-control-feedback" *ngIf="formErrors.password">
                      {{formErrors.password}}
        </span>

      </div>

      <div class="form-group">
        <div>
          <button type="submit" class="btn  btn-dark mt-2">Login</button>
        </div>
        <div>
          <label class="mt-2"><a routerLink="/register" routerLinkActive="active-link">Register</a></label>
        </div>


      </div>

    </form>

  </div>

</div>
<router-outlet></router-outlet>
