<div class="content p-3">

  <!--Formulaire-->

  <div class="card mb-5" >


    <div class="card-header bg-secondary text-center text-white ">
      <h5>Registrer Employé</h5>
    </div>

    <div class="card-body">

      <form ngNativeValidate  [formGroup] = "registerEmp" (ngSubmit)="onSubmit()" class="col-sm-6 offset-sm-3">
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="Name" formControlName="Name" placeholder="Name" required="required" class="form-control" [(ngModel)]="employ.Name">
        </div>

        <div class="form-group  ">
          <label>Prenom</label>
          <input type="text" name="Prenom" formControlName="Prenom" placeholder="Prenom" required="required" class="form-control" [(ngModel)]="employ.Prenom">
        </div>


        <div class="form-group">
          <label>Salaire</label>
          <input type="number" name="Salaire" formControlName="Salaire" placeholder="Salaire" required="required" class="form-control" [(ngModel)]="employ.Salaire">
        </div>

        <button class="btn btn-primary bg-dark btn-sm mt-2 ">Submit</button>
      </form>
    </div>

    <div class="card-footer bg-secondary ">

    </div>


  </div>


  <!-- Tables DataTables-->

  <div class="card mt-5" >


    <div class="card-header bg-secondary text-center text-white ">
      <h5>Gestion Employés</h5>
    </div>

    <div class="card-body">


      <div class="container" style="background-color: white">

        <h2 class="mb-4">Table Employés</h2>

        <div class="table-responsive-sm">

          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-striped table-bordered" cellspacing="0">
            <thead class="thead-dark">
            <tr>

              <th scope="col">ID</th>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th scope="col">Salaire</th>
              <th>Action</th>
              <th></th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let emp of employes">
              <td scope="col">{{emp.Id_emp}}</td>
              <td scope="col">{{emp.Name}}</td>
              <td scope="col">{{emp.Prenom}}</td>
              <td scope="col">{{emp.Salaire}}</td>
              <td><button class="btn btn-danger btn-sm" (click)="deleteData(emp.Id_emp)"><i class="fas fa-trash text-center"></i></button></td>
              <td><button class="btn btn-warning btn-sm" routerLink="../editEmp/{{emp.Id_emp}}"><i class="fas fa-edit text-center"></i></button></td>
            </tr>
            </tbody>

          </table>

        </div>
      </div>


    </div>

    <div class="card-footer bg-secondary text-white text-center">
      <h5>AppGestion @Copyright</h5>
    </div>


  </div>
</div>
